<%= content_for :head do %>
	<%= stylesheet_link_tag "home_index" %>
<% end %>
<section class="articles">
	<ul>
		<li class="article-item">
			<div class="timeline_item">
				<p>15 <br/>May</p>
				<div class="line"></div>
			</div>
			<article class="content clearfix">
				<h1>The Art of Website Design</h1>
				<div class="article_img fit">
					<%= image_tag "placeholder1.png" %>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, dolores, animi ipsa culpa dicta expedita hic maiores. Dolorum, cum, doloribus optio sapiente possimus fuga labore culpa excepturi vitae assumenda enim!</p>
			</article>
		</li>
		<li class="article-item">
			<div class="timeline_item">
				<p>19 <br/>Mar</p>
				<div class="line"></div>
			</div>
			<article class="content clearfix">
				<h1>Newest Logo Dribbble Had</h1>
				<div class="article_img">
					<%= image_tag "background-pic.jpg" %>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, accusantium, reiciendis, dolorum enim ratione ipsum sit sunt cum officiis id quidem aliquam debitis dicta ullam quo deserunt similique? Commodi, iure. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, officiis, quisquam fugit alias laboriosam tempore perferendis ratione et sint laborum aut porro eaque obcaecati repellat sunt nobis atque eum maxime.</p>
			</article>
		</li>
	</ul>
</section>
<section class="sidebar">
	<h3>Products</h3>
	<div class="product-item clearfix">
		<%= image_tag "UI-example.png" %>
		<div class="product-info">
			<h5>Code UI Kit</h5>
			<div class="price">$89</div>
			<p>All the code snippets you will ever need!</p>
		</div>
	</div>
</section>
